<%= form_for @donor, :html => { :class => "form-horizontal donor" } do |f| %>

  <% if @donor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @donor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :about_info, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :about_info, :class => 'form-control' %>
    </div>
    <%=f.error_span(:about_info) %>
  </div>
  <div class="form-group">
    <%= f.label :home_address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :home_address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:home_address) %>
  </div>
  <div class="form-group">
    <%= f.label :country_of_origin, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :country_of_origin, :class => 'form-control' %>
    </div>
    <%=f.error_span(:country_of_origin) %>
  </div>
  <div class="form-group">
    <%= f.label :reason_to_help, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :reason_to_help, :class => 'form-control' %>
    </div>
    <%=f.error_span(:reason_to_help) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                donors_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
