<ul class="nav nav-pills">
  <li role="presentation"><%= link_to "DashBoardss", admin_dashboard_path, class: '' %></a></li>
  <li role="presentation"><%= link_to "Users", admin_all_users_path, class: '' %></a></li>
  <li role="presentation"><%= link_to "Donors", admin_all_donors_path, class: '' %></a></li>
  <li role="presentation"><%= link_to "Recepients", admin_all_recepients_path, class: '' %></a></li>
  <li role="presentation"><%= link_to "Stories", admin_all_stories_path, class: '' %></a></li>
  <li role="presentation"><%= link_to "Categories", categories_path, class: '' %></a></li>

</ul>
<hr>