<%=render 'menu'%>

<%- model_class = Recepient -%>
<div class="page-header" align="center"><h1> All Recepients</h1>
<%= link_to "Add Recepient",
            new_recepient_path,
            :class => 'pull-right btn btn-success' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Email</th>
      <th>Names</th>
      <th>About Me</th>
      <th>Home Address</th>
      <th>Country of origin</th>
      <th>Why I need the help</th>
      <th>Help amount requested</th>
      <th>Date of Registration</th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  
    <% @recepients.each do |recepient| %>
      <tr>
        <td><%= link_to recepient.id, recepient_path(recepient) %></td>
        <td><%= link_to recepient.user.email,recepient_path(recepient) %></td>
        <td><%= recepient.user.full_name %></td>
        <td><%= recepient.about_info %></td>
        <td><%= recepient.home_address %></td>
        <td><%= recepient.country_of_origin %></td>
        <td><%= recepient.reason_for_need %></td>
        <td><%= recepient.need_amount %></td>
        <td><%=l recepient.created_at%></td>
        <td><%if recepient.user.approval == true%><span class="label label-info">Approved<span><%else%><span class="label label-danger">Blocked<span><%end%></td>
        <td>

        <% if current_user and current_user.user_type_id == 1%>
            <%if recepient.user.approval == true %>
                       <%= link_to "Block User", admin_block_user_path(id: recepient.user.id, value: false), :method => :put, :method => :put, data: {confirm: "Are you sure?"}, :class => 'btn btn-xs btn-danger' %>
                    <%else%>
               <%= link_to "Approve User", admin_block_user_path(id: recepient.user.id, value: true), :method => :put, data: {confirm: "Are you sure?"}, :class => 'btn btn-xs btn-success'%>
           <% end %>
       <% end %>
          <%#= link_to "btn-xs",
                      recepient_path(recepient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%#= link_to "Block User",
                      recepient_path(recepient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>


  </tbody>
</table>
    <div align="right">
  <%= will_paginate @recepients%>
  </div>


