<%= render 'menu'%>
<%- model_class = Donor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%if @donors %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th> Donor Email </th>
      <th> Donor Names </th>
      <th>Donor Info</th>
      <th>Donor Home Address</th>
      <th><%= model_class.human_attribute_name(:country_of_origin) %></th>
      <th><%= model_class.human_attribute_name(:reason_to_help) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td><%= link_to donor.id, donor_path(donor) %></td>
        <td><%= donor.user.email %></td>
        <td><%= donor.user.full_name %></td>
        <td><%= donor.about_info %></td>
        <td><%= donor.home_address %></td>
        <td><%= donor.country_of_origin %></td>
        <td><%= donor.reason_to_help %></td>
        <td><%=l donor.created_at %></td>
        <td><%if donor.user.approval == true%><span class="label label-info">Approved<span><%else%><span class="label label-danger">Blocked<span><%end%></td>

        <td>
     <% if current_user and current_user.user_type_id == 1%>
            <%if donor.user.approval == true %>
                       <%= link_to "Block User", admin_block_user_path(id: donor.user.id, value: false), :method => :put, :method => :put, data: {confirm: "Are you sure?"}, :class => 'btn btn-xs btn-danger' %>
                    <%else%>
               <%= link_to "Approve User", admin_block_user_path(id: donor.user.id, value: true), :method => :put, data: {confirm: "Are you sure?"}, :class => 'btn btn-xs btn-success'%>
           <% end %>
       <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p class="lead"> No Donors registered yet</p>
<% end %>



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_donor_path,
            :class => 'btn btn-primary' %>
