<h1 align="center">Welcome, <%= current_user.full_name%></h1>
<p align="center">This is where you can manage users, recepients and donors</p>

<div class="container">
    <div class="row">
            <div class="col-md-4 card02">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-users" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Manage Users</h4>
                            <p style="font-size: 12px;">Approve and Disapprove Users on CyC</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <%= link_to "View", admin_all_users_path %></button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card02">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-users" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Recepients</h4>
                            <p style="font-size: 12px;">Everything about Recepients</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <%= link_to "View", admin_all_recepients_path %></button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card02">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-user-secret" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Donors</h4>
                            <p style="font-size: 12px;">Donor Administration and verification</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <%= link_to "View", admin_all_donors_path %></button>
                                
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card02">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-user-secret" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Categories</h4>
                            <p style="font-size: 12px;">Categories for recepients to choose</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <%= link_to "View", categories_path %></button>
                                <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="col-md-4 card02">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-user-circle-o" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Stories</h4>
                            <p style="font-size: 12px;">Recepient Stories, also found in Repients</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                 <%= link_to "Stories", admin_all_stories_path %></button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
              <div class="col-md-4 card02">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-cogs" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Settings</h4>
                            <p style="font-size: 12px;">General settings</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Change</button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
