<%= form_for @recepient, :html => { :class => "form-horizontal recepient" } do |f| %>

  <% if @recepient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Please correct the <%= pluralize(@recepient.errors.count, "error")%>  to continue.. </h3>
      </div>
      <div class="panel-body">
        <!-- <ul> -->
        <%# @recepient.errors.full_messages.each do |msg| %>
          <!-- <li><%#= msg %></li> -->
        <%# end %>
        <!-- </ul> -->
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :about_info, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :about_info, :class => 'form-control' %>
    </div>
    <div class="col-lg-offset-2 col-lg-10">
    <%=f.error_span :about_info %></div>
  </div>
  <div class="form-group">
    <%= f.label :home_address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :home_address, :class => 'form-control' %>
    </div>
    <div class="col-lg-offset-2 col-lg-10">
    <%=f.error_span(:home_address) %></div>
  </div>
  <div class="form-group">
    <%= f.label :country_of_origin, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :country_of_origin, :class => 'form-control' %>
    </div>
    <div class="col-lg-offset-2 col-lg-10">
    <%=f.error_span(:country_of_origin) %></div>
  </div>
  <div class="form-group">
    <%= f.label :reason_for_need, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :reason_for_need, :class => 'form-control' %>
    </div>
    <div class="col-lg-offset-2 col-lg-10">

    <%=f.error_span(:reason_for_need) %></div>
  </div>
  <div class="form-group">
    <%= f.label :need_amount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :need_amount, :class => 'form-control' %>
    </div>
    <div class="col-lg-offset-2 col-lg-10">
    <%=f.error_span(:need_amount) %></div>
  </div>

  <% if not @recepient.category_id %>
         <div class="form-group">
          <%= f.label :category_id, :class => 'control-label col-lg-2' %>

           <div class="col-md-6 ">

          <% options = [["Widow",1], ["Natural Disaster",2], ["Medical Illness",3], ["Education",4], ["Other", 5]] %>
          <%= f.select :category_id, options,{}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
          </div>
      </div>
      <%end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Save Profile", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recepients_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
