<%if not current_user %>
<%= render 'layouts/loggin'%>



<%elsif current_user.user_type_id == 1%>
  <%= render 'admin/menu'%>

<%elsif current_user.user_type_id == 2%>
  <%= render 'donors/menu'%>


<%elsif current_user.user_type_id == 3%>
  <%= render 'recepients/menu'%>

<%else%>

<p class="label label-success">Please login to see more options</p>

<% end %>

<%if @recepients.present? %>
<div class="page-header">
  <h1 align="center"><%= @recepients[0].category.title%> Category</h1>
</div>
    <% @recepients.each do |recepient| %>
      <div class="card02 col-md-3">
            <div class="panel panel-info">
             <div class="panel-body">

                      <i class="fa fa-bookmark-o fa-3x pull-right blue"></i>
                      <h3><%= recepient.user.first_name %></h3>
                        <h5><%= truncate(recepient.about_info, length: 250, omission: '...(read more)') %></h5>
                        <h6 class="muted"></h6>
                        <p class="muted">Created: <%= time_ago_in_words(recepient.created_at) %> ago.. by <%=link_to recepient.user.first_name, "#" %></p>

                        Category: <span class="muted label label-info white"><%= recepient.category.title %></span>
                        <hr>

                         <%= link_to "<i class='fa fa-credit-card' class='blue'></i> Donate".html_safe, "#",:class => 'btn btn-default btn-xs' %>
                         <%= link_to "<i class='fa fa-eye' class='blue'></i> Follow".html_safe, "#",:class => 'btn btn-default btn-xs' %>
                </div>
            </div>
        </div>
    <% end %>

<% else %>
<div class="page-header">
  <h1 align="center">No Recepients in this category yet..</h1>
</div>

      <p class="col-md-2"><%= link_to "Check Other Categories »", categories_path, class: 'btn btn-default'%></p>
      <p class="col-md-2"><%= link_to "Read Success Stories »", browse_stories_path, class: 'btn btn-default'%></p>


<% end %>

