<%= render 'recepients/menu'%>

<%- model_class = Recepient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:about_info) %></th>
      <th><%= model_class.human_attribute_name(:home_address) %></th>
      <th><%= model_class.human_attribute_name(:country_of_origin) %></th>
      <th><%= model_class.human_attribute_name(:reason_for_need) %></th>
      <th><%= model_class.human_attribute_name(:need_amount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recepients.each do |recepient| %>
      <tr>
        <td><%= link_to recepient.id, recepient_path(recepient) %></td>
        <td><%= recepient.about_info %></td>
        <td><%= recepient.home_address %></td>
        <td><%= recepient.country_of_origin %></td>
        <td><%= recepient.reason_for_need %></td>
        <td><%= recepient.need_amount %></td>
        <td><%=l recepient.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      recepient_path(recepient), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_recepient_path(recepient), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      recepient_path(recepient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recepient_path,
            :class => 'btn btn-primary' %>
