<%= render 'layouts/menuoptions'%>


<%if @recepients %>
<%- model_class = Recepient -%>
<div class="page-header">
  <h1 align="center">All Current Recepients</h1>
</div>
    <% @recepients.each do |recepient| %>
    <% if recepient.user.approval == true%>
      <div class="card col-md-3">
    <i class="fa fa-user fa-3x"></i>
    <h3><%= recepient.user.first_name %></h3>
      <h5><%= recepient.about_info%></h5>
      <hr>
      <h5><h6><b>Reason for assistance</b></h6><%= recepient.reason_for_need%></h5>
      <h6 class="muted"><b><i>Home location and Amount of need</i></b></h6>

      <h5><span class="fa fa-map-marker red"></span> <%= recepient.home_address%>,<%= recepient.country_of_origin%>,<span style="margin-right: 30px;"></span><span class="fa fa-money green"></span> <%= recepient.need_amount%></h5>
      <hr>
      <p class="muted">Created: <%= time_ago_in_words(recepient.created_at) %> ago.. by <%=link_to recepient.user.first_name, "#" %></p>

      <span class="muted"><i>Category:</i></span><span class="muted label label-info"> <%= recepient.category.title%></span>
      <hr>

       <%= link_to "<i class='fa fa-credit-card' class='blue'></i> Donate".html_safe, "#",:class => 'btn btn-default btn-xs' %>
       <%#if recepient.user.follows[:user_id] == recepient.user.id%>
       <%= link_to "<i class='fa fa-eye' class='blue'></i> Follow".html_safe, follow_user_path(recepient_id: recepient.user.id),:class => 'btn btn-default btn-xs' %>
       <%# else %>
       <%= link_to "<i class='fa fa-eye-slash' class='blue'></i> Unfollow".html_safe,"#" ,:class => 'btn btn-danger btn-xs' %>
       <%# end %>
    </div>
    <% end %>
    <% end %>
    <% else %>

    <div class="jumbotron">
      There are no recepients
    </div>
<% end %>



