<div class="container">

<h1 align="center"><%= @user.full_name%></h1>
	<div class="well col-md-12">
			<div class="col-md-1">

			<%=image_tag(@user.avatar.url(:thumb), class: 'profile02')%>

			</div>

		<div class="col-md-10">
			<div class="col-md-4">
				<div class="col-md-12">
				<label>First Name: </label>
				<%=@user.first_name%>
				<hr>
				<label>Last Name: </label>
				<%=@user.last_name%>
				<hr>
				<div class="col-md-">
				<%= link_to "<i class='fa fa-credit-card' class='blue'></i> Donate".html_safe, "#",:class => 'btn btn-default btn-xs' %>
                <%= link_to "<i class='fa fa-eye' class='blue'></i> Follow".html_safe, "#",:class => 'btn btn-default btn-xs' %>
              
				</div>
				</div>
			</div>
			<% if @user.donors[0]%>
				<div class="col-md-6">
				<label>About me: </label>

				<%=@user.donors[0].about_info%>
				<hr>
				</div>
			<% elsif @user.recepients[0]%>
				<div class="col-md-6">
				<label>About me: </label>
				<%=@user.recepients[0].about_info%>
				<hr>
				</div>
				<div class="col-md-6">
				<label>Reason for need: </label>
				<%=@user.recepients[0].reason_for_need%>
				<hr>
				<label>Need Amount: </label>
				<%=@user.recepients[0].need_amount %>
				<hr>
				<label>Profile created: </label>
				<%=time_ago_in_words(@user.created_at) %> ago 
				<hr>
				<label>Published Stories: </label>
				<%=@user.recepients[0].stories.count %> 
				</div>

			<% else %>
			<div class="col-md-8">
				<p class="lead"><h4>User has not completed their profile</h4></p>
				<hr>
			</div>
			<% end %>



			
		</div>
		
	</div>

</div>