<div id="myCarousel" class="mycarousel carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("one.jpg")%>

      <div class="carousel-caption">
        <h3>Give.</h3>
        <p>Giving what you can to someone in need, is above and beyond.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("two.jpg")%>
      <div class="carousel-caption">
        <h3>Get in touch</h3>
        <p>Touch someone from a different culture and different geographical location today.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("three.jpg")%>
    
      <div class="carousel-caption">

        <h3>Someone's story</h3>
        <p>Contribute in writing and predicting someone's story.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("four.jpg")%>

      <div class="carousel-caption">

        <h3>Reach out</h3>
        <p>You can impact someone's life even by the words of your mouth.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<hr>
  <div class = "footer">
        <%= render 'layouts/footer'%>  
      </div> 
	 	<div class = "row intro">
	 			<center><h2> As easy as 1-2-3</h2></center>
	 			<p > Charity is the act of helping the needy by providing them with sources that can be useful for them. Charity is one of the most generous acts. The greatest thing about charity is that it doesn’t always need to be big. But it is one of the toughest tasks to do. Cyc is an open-source project free for contribution and is constantly looking for well-wishers willing to fronteer this mission.</p>

        <p>We have broken it down for you here. You can be sure that your money is going to the person you intended it for.</p>
	 			<span>Please note that no finances or physical goods go to CyC directly. CyC publishes stories and the donor/wellwisher chooses to contact the owner directly at their own judgement.</span>
	 	</div>
    <hr>

    
      			<div class="row" style="display: flex;">
        			<div class="card col-md-3" >
        			<!--<%= link_to image_tag("2.jpg"), root_path,  class: "img-circle" %>-->
			          <img class="img-circle" src="https://ctovision.com/wp-content/uploads/ngo_verification_social_good.jpg" alt="one image" width="140" height="140">
			          <h3>Choose your Cause</h3>
			          <p>Choose a cause that you are passionate about, be it child education, war widows, natural disaster survivers...Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			        </div><!-- /.col-md-4 -->
			        <div class="card col-md-3">
			          <img class="img-circle" src="https://ctovision.com/wp-content/uploads/ngo_verification_social_good.jpg" alt="2 image" width="140" height="140">
			          <h3>Choose Beneficiary</h3>
			          <p>Second step is to choose beneficiary for your intended donation. The people here in the list have been verified, their background, addresses and their needs have been verified. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			        </div><!-- /.col-md-4 -->
			        <div class="card col-md-3">
			          <img class="img-circle" src="https://ctovision.com/wp-content/uploads/ngo_verification_social_good.jpg" alt="3 image" width="140" height="140">
			          <h3>Donate</h3>
			          <p>Last step is to Donate directly to the recipients bank account and be sure that your money is being put to good use, making life just a bit easier for someone in distress. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo.</p>
			          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			        </div><!-- /.col-md-4 -->
     			 </div><!-- /.row -->



    
	  


</div>

   
 
