<h1>Choose Your Cause</h1>
<h4><%= link_to "Farmers", "#"%></h4>

<h4><%= link_to "War Widows", "#"%></h4>

<h4><%= link_to "Educate a Child", "#"%></h4>

<h4><%= link_to "War Veterans", "#"%></h4>
<h4><%= link_to "Forgotten Sportstars", "#"%></h4>
<h4><%= link_to "Natural Disaster Survivors", "#"%></h4>