<%= form_for @farmer do |farmer|%>
<%= farmer.label :name%>
<%= farmer.text_field :name %><br>
<%= farmer.label :bio%>
<%= farmer.text_field :bio%><br>
<%= farmer.label :bankDetails%>
<%= farmer.text_field :bankDetails%><br>
<p><%= farmer.submit "Add"%></p>
<% end %>
