<div class="jumbotron container" style="background-color:silver;">
<h1>Farmers</h1>

<div class="container">

	<% @farmers.each do |farmer|%>
		<div  class ="row">
			<div class = "col col-md-3">
				<%=link_to farmer.name, farmer_path(farmer)%>
			</div>
			<div class = "col col-md-5">
				<%= farmer.bio%><%=link_to "...read more", "#"%>
			</div>
			<div class = "col col-md-4">
				<%= link_to "Edit", edit_farmer_path(farmer)%>
				<%= link_to "Delete", farmer, method: :delete, data: {confirm: "sure?"} %>
			</div>
		</div>
	<%end%>
</div>

<p><%= link_to "Add New", new_farmer_path%></p>
<p><%= link_to "Back to all Causes", root_path%></p>
