<%=form_for @category, :html =>{ :class => "form-horizontal donor"} do |c| %>
	<% if @category.errors.any? %>
		<div id="error_expl" class="panel panel-danger">
	      <div class="panel-heading">
	        <h3 class="panel-title"><%= pluralize(@category.errors.count, error)%>
	      </div>
	    <div class="panel-body">
			<ul>
				<%@category.errors.full_messages.each do |msg|%>
					<li><%=msg%></li>
				<%end%>
			</ul>
		</div>
	   </div>
	 <% end %>

	<div class="form-group">
		<%=c.label :title, :class => 'control-label col-lg-2' %>
		<div class="col-lg-10">
	    	<%= c.text_field :title, :class => 'form-control' %>
	    </div>
		<%=c.error_span(:title) %>
	</div>

	<div class="form-group">
		<%=c.label :description	, :class => 'control-label col-lg-2' %>
		<div class="col-lg-10">
	      <%= c.text_area :description	, :class => 'form-control' %>
	    </div>
		<%=c.error_span(:description	) %>
	</div>

	 <div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <%= c.submit nil, :class => 'btn btn-primary' %>
	    </div>
	  </div>

<% end %>
