<%if not current_user %>
<%= render 'layouts/loggin'%>


<%elsif current_user.user_type_id == 1%>
  <%= render 'admin/menu'%>

<%elsif current_user.user_type_id == 2%>
  <%= render 'donors/menu'%>


<%elsif current_user.user_type_id == 3%>
  <%= render 'recepients/menu'%>

<%else%>

<p class="label label-success">Please login to see more options</p>

<% end %>


<%- model_class = Category -%>

<div class="page-header">

  <h3 align="center">All Categories</h3>
<%if current_user and current_user.user_type_id == 1%><%= link_to "Add Category", new_category_path, {:style=>'color:#FFFFFF;', :class => 'pull-right btn btn-primary'} %><%end%>
        <%= link_to "<i class='fa fa-list'></i> All".html_safe,browse_recepients_path,  :class => 'btn btn-default'%>

</div>

    <% @categories.each do |category| %>

            <div class="col-md-3 card02">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                        <i class="fa fa-star"></i>
                        </div>
                        <div class="pull-right" style="margin-right: 15px;">
                        <%if current_user and current_user.user_type_id == 1%><%= link_to "<button class='btn btn-default'><i class='fa fa-pencil grey'></i></button>".html_safe, admin_category_edit_path(id: category.id), class: 'pull-ri' %><%end%>

                          
                        </div>
                        <div class="col-md-8">
                            <h4><%= category.title %></h4>
                            <p style="font-size: 10px;"><%= category.description %></p>
                            <button class="btn btn-info pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <%= link_to "View", recepient_category_path(category_id:category.id) %></button>
                                <hr>

                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
