<div class="jumbotron container" style="background-color:silver;">
<h1>War Widows</h1>

<div class="container">

	<% @warwidows.each do |warwidow|%>
		<div  class ="row">
			<div class = "col col-md-3">
				<%=link_to warwidow.name, warwidow_path(warwidow)%>
			</div>
			<div class = "col col-md-5">
				<%= warwidow.bio%><%=link_to "...read more", "#"%>
			</div>
			<div class = "col col-md-4">
				<%= link_to "Edit", edit_warwidow_path(warwidow)%>
				<%= link_to "Delete", warwidow, method: :delete, data: {confirm: "sure?"} %>
			</div>
		</div>
	<%end%>
</div>

<p><%= link_to "Add New", new_farmer_path%></p>
<p><%= link_to "Back to all Causes", root_path%></p>
