<h1> <%= @warwidow.name.split(' ')[0] %>'s Profile</h1>

<p>Name: <%=@warwidow.name%></p>
Story: <%=@warwidow.bio%>

<br>
<br>
<br>
<br>
<p>

<p><%= link_to "Add New", new_warwidow_path%></p>

<p><%= link_to "Back to War widow's list", warwidows_path%></p>
