<%= form_for @education do |education|%>
<%= education.label :name%>
<%= education.text_field :name %><br>
<%= education.label :bio%>
<%= education.text_field :bio%><br>
<%= education.label :bankDetails%>
<%= education.text_field :bankDetails%><br>
<p><%= education.submit "Add"%></p>
<% end %>