<h1> <%= @education.name.split(' ')[0] %>'s Profile</h1>

<p>Name: <%=@education.name%></p>
Story: <%=@education.bio%>

<p><%= link_to "Add New", new_education_path%></p>

<p><%= link_to "Back to Child education list", educations_path%></p>
