<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CyC", root_path, id: "logo" %>
    <nav>
      	<ul class="nav navbar-nav navbar-right">
      		<li><%= link_to "Home", root_path%></li>
      		<li><%= link_to "About", pages_about_path%></li>
	      	<%if member_signed_in?%>

				<li><%= link_to current_member.username, "#{}" %></li>
				<li><%= link_to "Log Out", destroy_member_session_path, :method => :delete%></li>
			<%else%>
				<li><%= link_to "Login", new_member_session_path%></li>
				<li><%= link_to "Sign up", new_member_registration_path%></li>
			<%end%>
		</ul>
    </nav>
  </div>
</header>