<nav class="navbar-custom navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CyC</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 navbar-custom">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path  %></li>
        <li class="">
            <%=link_to "Categories <span class='caret'></span>".html_safe, browse_categories_path, class: '', data: {toggle: 'dropdown'} %>

            <ul class="dropdown-menu">
           <li> <%=link_to "All Categories" , browse_categories_path, class: ''%></li>

              <% category_list.each do |cl| %>
              <li><%= link_to cl.title, recepient_category_path(category_id: cl.id)%></li>
              <%end%>
              
            </ul>
          </li>
        <li><%= link_to "Success Stories", browse_stories_path  %></li>
      </ul>
   
      <ul class="nav navbar-nav navbar-right">
        <%if current_user %>  
          <%if current_user.user_type_id == 1 %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Manage Users", admin_all_users_path  %></li>
              <li><%= link_to "Manage Stories", "/path2"  %></li>
              <li><%= link_to "Link6", "/path3"  %></li>
            </ul>
          <% end %>   

          <li class="dropdown">
            <a href="properties.php?type=showall" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile/Dashboard", user_path(current_user) %></li>
              <li><%= link_to "Logout", logout_path %></li>
        <% else %>
              <li><%= link_to "Login", login_path  %></li>
              <li><%= link_to "signup", signup_path  %></li>
            </ul>
          </li>
        <% end %> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>